APP_ENV=<%= @env %>
APP_DEBUG=true
APP_KEY=OIlPmCBmDyKx2bcJXmhnfDdLlcM7h32z

apiUrl            =<%= @api_url %>,
authKey          =X-Auth-Key,
isSkipCheckKey     =X-SkipCheck-ORG,
encryptKey         =<%= @encrypt_key %>,
isHMAC             =FALSE,
rememberExpires    =4,
rememberCookieName =siteAuth,
downloadUrl        =https://<%= @s3_bucket %>.s3.amazonaws.com/,
microServicesUrl   =<%= @micro_services_url %>,
publishCommand     =commandcentral/command/PublishCommand