.action-btn:hover {
    background-color: yellow;
    color: black;
}

.icon_row {
    cursor: pointer;
}

.icon-btn-red:hover {
    color: red;
}

.icon-btn-orange:hover {
    color: orange;
}

.icon-btn-black:hover {
    color: black;
}

.input-error, .input-invalid {
    border: 1px solid red;
}
input.error{
    border: 1px solid red!important;
}

.input-valid {
    border: 1px solid green;
}

button[class*="add-button"] {
    float: right;
    margin-top: -4px;
    margin-right: 16px;
}

.hour {
    margin-right: 0 !important;
}

/******************** Management device attribute view ********************/
#deviceOptionAttribute_wrapper > .row, #deviceSetCurrent_wrapper > .row, #ruleCondition_wrapper > .row {
    display: none !important;
}

/******************* beacon set editor*******************************/
.uuid-hide {
    height: 0px !important;
    overflow: hidden;
    border: 0px solid #dde6e9 !important;
    padding: 0px !important;
}

ul.uuids-list {
    background: #ffffff;
    border: 1px solid #dde6e9;
}

ul.uuids-list {
    padding: 15px;
    margin: 0px;
}

ul.uuids-list li {
    list-style: none !important;
    line-height: 1.9em;
}

/******************* rule manage *****************************/
.add-route-view {
    display: none;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 15px;
    margin: 0 30px;
}

.add-route-view .btn {
    border-radius: 3px;
    font-size: 13px;
    border-color: transparent;
    -webkit-appearance: none;
    outline: none !important;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    border: 1px solid #eee;
    color: #ffffff;
}

.add-route-view .btn-cancel {
    background: red;
}

.add-route-view .btn-primary {
    background: #5D9CEC;
}

.add-route-view .btn:hover {
    background: #f5f5f5;
    color: #000000;
}

.buttonInvite.disabled, .buttonInvite[disabled] {
    background-color: purple;
    border-color: purple;
}

.device-set-editor .form-control{
    min-width: 100%;
}

body .chosen-container {
    width: 100% !important;
    /*min-width: 300px;*/
    max-width: 100%;
}

body .bootstrap-filestyle {
    min-width: 320px;
}
.remove-question-image{
    float: left;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}