/******************** Header ********************/
i { font-style: normal; }

.topnavbar .navbar-header {
    background-color: #00AEEF;
    background-image: none;
}

.nav-wrapper {
    background-color: #00AEEF;
}

.topnavbar .navbar-header .brand-logo {
    padding: 10px 28px;
}

@media (max-width: 768px) {
    .topnavbar .navbar-header .brand-logo {
        padding: 14px 28px;
        width: 185px;
        margin-left: -20px;
    }
}

/******************** Section Header ********************/
.navbar-right h5 {
    color: white;
}
.content-body .textarea {
    width: 100%;
    height: 140px;
}
.user {
    margin-right: 30px;

    position: static;
}

.behalf_select {
    width: 270px;

    margin-left: -24px;
    margin-top: 10px;
}

#mobile_form {
    display: none;
}

#mobile_behalf {
    margin-left: 10px;
    margin-right: 10px;
}

#mobile_user {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

@media (max-width: 1130px) {
    .navbar-right {
        display: none;
    }
}

@media (max-width: 768px) {
    #mobile_form {
        display: initial;
    }
}

/*
@media (max-width: 470px) {
    #add_form {
        display: none;
    }
}
*/
/******************** Breadcrumb ********************/
.breadcrumb {
    background-color: white;

    float: left;
    margin-left: 15px;
}

/******************** Table ********************/
.panel .panel-heading {
    padding-left: 27px;
    font-size: 24px;
}

.help {
    color: black;

    float: right;
    margin-right: 15px;
}

.add-button {
    float: right;
    margin-top: -4px;
    margin-right: 16px;
}

.table-responsive {
    padding-left: 20px;
    padding-right: 20px;
}

.panel-default {
    margin-top: 10px;
}

.icon_row {
    display: inline-block;
    margin-right: 15px;
}

.add-content, .edit-content, .view-content, .status-view-content,
.log-content, .invite-content, .results-content, .question-wizard-content, .edit-question-content,
.command-content, .add-command-content, .edit-command-content, .parameter-content, .edit-parameter-content,
.configuration-content, .add-value-content, .edit-value-content, .add-wizard-content, .maintain-view-content, .add-maintain-content, .edit-maintain-content, .incident-view-content, .add-incident-content, .edit-incident-content, .add-question-content, .droneselect-content, .photoshoot-content, .links-content {
    display: none;
}

.content-header {
}

.content-body {
    padding: 25px;
    border: 1px solid #E4E2E2;
}

.content-body .wysiwyg {
    width: 93%;
}

.content-body .description {
    width: 750px;
    height: 200px;
}
.content-body .textarea {
    width: 100%;
    height: 140px;
}

.buttonSet {
    float: right;
}

.at_least_one_device, .at_least_one_role {
    color: red;
}

.at_least_one_role {
    margin-left: 130px;
}

.at_least_one_device {
    margin-left: 173px;
}

.error_message {
    color: red;
    display: none;
}

/******************** Dropdown Menu ********************/

label.error {
    display: none !important;
}

/******************** Form ********************/
.form_title {
    background-color: #E6F0F3;
    border-bottom: 1px solid #CFDBE2;
}

.edit_form {
    padding-left: 80px;
    padding-right: 80px;
}

.main-content {
    display: none;
}

.form-format {
    min-width: 300px;
}

/********** Asterisk **********/
.asterisk {
    color: red;
}

/********** (View - Read Only) Form **********/
input.readonly {
    background-color: #FBFBFB;
}

/********** Buttons **********/
.buttonAdd {
    color: white;
    background-color: #5D9CEC;
}

.buttonUpdate {
    color: white;
    background-color: green;
}

.buttonCancel, .buttonClose {
    color: white;
    background-color: red;
}

.buttonInvite {
    color: white;
    background-color: purple;
}

.buttonSave {
    color: white;
    background-color: orange;
}

.buttonSubmit {
    color: white;
    background-color: #656565;
}

/******************** Device Admin ********************/
.beacon_statistics {
    padding-left: 300px;
}

.beacon_statistics > button {
    font-size: 25px;

    width: 180px;
    height: 80px;
	padding:6px 12px;
}

.beacon_statistics_content {
    display: inline-block;
}

/******************** Device Management ********************/
.show_hide {
    color: blue;
}

#optional_attributes {
    display: none;
}

#delete_selected {
    color: blue;
}

.attribute_label {
    margin-left: 20px;
}

/******************** Location ********************/
.search_button_modal, .search_button_main {
    height: 35px;
}

.google-header{
    display: inline;
}

.lat, .lng {
    color: #4E4A4A;
    display: inline;
}

.fullscreen-map {
    color: black;

    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

#mapCanvas_main {
    height: 300px;
}

#mapCanvas {
    width: 865px;
    height: 600px;
}

/******************** Rule Management ********************/

/******************** Surveys ********************/
.survey-body {
    padding: 5px;
}

.survey-body .table-responsive {
    padding-bottom: 30px;
}

/******************** Run On ********************/
.run_on {
    border: 1px solid #CDCDCD;
    padding: 20px;
}

/******************** Results ********************/
#raw_data {
    border: 1px solid #CDCDCD;
    height: 200px;
    margin-bottom: 20px;
}

#analytics_form {
    padding-right: 30px;
    margin-bottom: 20px;
}

/******************** Beacon Notification ********************/
#notification {
    clear: left;

    margin-left: 15px;
    margin-bottom: 20px;
}

.notification_buttons {
    word-spacing: 5px;
    margin-left: 0px;
}

.notification_button {
    width: 150px;
    height: 80px;
    font-size: 20px;
}

.notification_content {
    display: inline-block;
}

.content-body .notification_text {
    width: 750px;
    height: 200px;
}

/******************** Beacon Campaigns ********************/

/********** Tabs **********/
.tab-content > .active {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/******************** Account ********************/
.panel-body > form {
    padding-left: 10px;
    padding-right: 10px;
}

/******************** Rule Management Condition Button ********************/
.condition_button {
    margin-right: 20px;
}

/******************** Scheduled Commands Time ********************/
#schedule {
    border: 1px solid #e5e5e5;
    padding: 20px;
}

.time {
    display: inline-block;
}

#end_date_text {
    display: initial;
    margin-left: 33px;
}

.time_lapse {
    display: none;
    margin-left: 14px;
}

.parameter {
    display: inline-block;
}

.param_type {
    width: 80px;
}

.sub-form-group {
    border: 1px solid #e5e5e5;
    padding: 20px;
}

/******************** Surveys ********************/

/********** Modal Content **********/
.chosen {
    padding-right: 60px;
}

.hour {
    padding-right: 0px;
    margin-right: -70px;
}

.minutes {
    margin-right: -10px;
    margin-left: -50px;
}

.ampm {
    margin-right: 0px;
    margin-left: -55px;
}

/********** Checkbox **********/
.select_days {
    width: 100%;
}

.checkbox {
    word-spacing: 1px;
}

.form-inline .form-group{
    margin-bottom: 20px; !important;
}

.form-group{
    width :100%;
}
/******************** Organization Editor Image ********************/
#fileInput {
    position: absolute;
    clip: rect(0px 0px 0px 0px);
}
.edit_maintain, .edit_incident, .edit_question, .icon-pencil, .icon_row
{
	cursor:pointer;
}

.left_sec
{
	border-right:1px solid #ccc;
	min-height:600px;
}
.middle_sec
{
	border-right:1px solid #ccc;
	margin-right:-1px;
	border-left:1px solid #ccc;
	margin-left:-1px;
	min-height:600px;
}
.right_sec
{
	border-left:1px solid #ccc;
	min-height:600px;
}
.right_sec label
{
	font-weight:normal;
	padding-top:4px;
}
.file_list
{
	float:left; width:100%;
	margin:0px; padding:0px; padding-left:10px;
}
.file_list li
{
	padding:3px 4px 3px 5px;
	width:100%;
	color:#515253;
	font-size:13px;
	list-style:none;
	line-height:18px;
	margin:5px 0;
	float:left;
	clear:both;
	cursor:pointer;
	box-sizing:border-box;
}
.file_list li fa
{
	margin-right:5px;
}
.file_list li.active
{
	background:rgba(93,156,236,0.25) ;
	color:#000;
	width:100%;
}
.viewer_thumblist
{
	margin:0px; padding:0px;
}
.viewer_thumblist li
{
	float:left;
	display:inline;
}
.meta_img_row
{
	float:left; width:100%; padding-top:16px;
}
.meta_img_row img { width:100%; }

.table .custom_checkbox
{
	width:auto;
}


/* Folder Tree Start*/
.tree { width:100%; float:left; margin:10px 0px 20px;}
.tree li a { XXXXXbackground:rgba(0,0,0,0.3); width:100% !important;  }
.tree li { list-style:none; box-sizing: border-box; width:100% !important; margin-top:4px;}

.links_tree li { list-style:none; box-sizing: border-box; width:100% !important; margin-top:4px; margin-bottom:4px; font-weight:bold;}
.links_tree li .fa-link { 
	float: left;
    height: 16px;
    padding-right: 6px;
    padding-top: 3px;
    width: 18px;
	font-size:15px;
	color:#31b4f1 !important;
}
.links_tree li .links_text
{
	color:#52a3ca;
	font-weight:normal;
}
.links_tree > ul > li
{
	padding-top:10px; padding-bottom:10px;
}
.tree ul 
{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
	width:100%;
}
.tree ul li
{
	list-style:none;
	line-height:21px;
	width:99%;
	display:block;
}
.tree ul li a, .tree ul li a:hover
{
	list-style:none;
	line-height:21px;
	width:99%;
	display:block;
	color:#000;
	float:left;
	cursor:pointer;
}
.tree ul li.parent
{
}
.textline
{
	float:left;
	padding-top:0px;
	padding-left:3px;
	font-size:13px;
	color:#515253;
}
.plusminus
{
	float:left;
	padding-top:3px;
	padding-right:5px;
}
.tree ul li ul
{
	display:none;
	margin:0px;
	padding:0px;
	float:left;
	color:#0F3;
}
.tree ul li ul li
{
	list-style:none;
	padding-left:20px;
}
.tree ul li li a, .tree ul li li a:hover
{
	list-style:none;
	line-height:21px;
	width:90%;
	display:block;
	color:#000;
	float:left;
}
.tree ul li ul ul
{
	display:none;
	margin:0px;
	padding:0px;
	float:left;
	color:#000;
}
.tree ul li ul li ul li
{
	list-style:none;
	padding-left:15px;
}
.tree ul li li li a, .tree ul li li li a:hover
{
	list-style:none;
	line-height:21px;
	width:90%;
	display:block;
	color:#000;
	float:left;
}
.tree ul li li li li a, .tree ul li li li li a:hover
{
	list-style:none;
	line-height:21px;
	width:90%;
	display:block;
	color:#000;
	float:left;
}
.tree ul li a.highlight
{
	background:url(../img/tree_highlight.png) repeat;
}
.plus
{
	float:left;
	padding-top:3px;
	padding-right:5px;
	background:url(../img/closed.png) no-repeat 0px 3px;
	width:16px; height:16px;
}
.minus
{
	float:left;
	padding-top:3px;
	padding-right:5px;
	background:url(../img/open.png) no-repeat 0px 3px;
	width:16px; height:16px;
}

.pt-5 { padding-top:5px; }
