@charset "utf-8";
/* CSS Document */
ul {margin:0px; padding:0px; }
.question_banner
{
	width:100%;
	float:left;
	padding:0px;
}
.wrapper_custom
{
	width:600px;
}
.qus_ans_wrap
{
	padding:10px 0px 20px;
}
.question_banner
{
	position: relative; 
    width: 100%;
}
.question_banner h2 { 
   position: absolute; 
   top: 50px; 
   left: 0px; 
   right:0px;
   width: 100%;
   text-align:center;
   font-size:28px; 
   line-height:45px;
   color:white;
    margin-bottom: 10px;
    margin-top: 20px;
}
.question_banner h2 span { 
    background-color:rgba(0,0,0,0.5);
	padding:5px; 
	color:white;
	box-decoration-break: clone;
}
.question_banner figure img
{
	width:100%;
}
ul.answers, .three_choice
{
	width:100%;
	float:left;
}
ul.answers .answer_block
{
	text-align:center;
	background:#fff;
	/*padding:15px;*/
	XXXXXXXXdisplay:inline-block;
	box-sizing:border-box;
	float:left;
	-moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.1);
   -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
   box-shadow:         inset 0 0 10px rgba(0,0,0,0.1);
   border-right:1px solid #fff;
   border-top:1px solid #fff;
   min-height:130px;
   
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; 
	cursor:pointer;
	font-family: "Pontano Sans";
	font-size:16px;
	line-height:15px;
}
ul.answers .answer_block.on
{
	background:#01a289 ;
	color:#FFF;
   box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}
.four_choice .answer_block
{
	width:50%;
	XXmin-height:100px;
}
.three_choice .answer_block, .six_choice .answer_block
{
	width:33.3333%;
}

.progress-percent {
    background-color: rgba(242, 242, 242, 0.85);
    border-radius: 50%;
    height: 230px;
    margin: 20px auto;
    text-align: center;
    width: 230px;
}
.progress-percent .percent {
    display: block;
    font-size: 70px;
    padding-top: 62px;
}

.progress-percent .complete {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}
.two_choice_side
{
	width:22%;
	float:left;
	text-align:center;
	background:#000;
	min-height:120px;
	cursor:pointer;
	position:relative;
	
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; 
	margin:0px;
}
.two_choice_middle
{
	width:56%;
	float:left;
	background:#333;
	min-height:120px;
	
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; 
	margin:0px;
}
.question_banner .two_choice_middle h2
{
	color: white;
    font-size: 22px;
    left: 0;
	 top: 0px;
	 right: 0;
    line-height: 25px;
    position: static;
    right: 0;
    text-align: center;
    width: 100%;
	margin:0px;
	
	}
.question_banner .two_choice_middle h2 span
{
	background:none;
}

.two_choice_side img.thumb_ans
{
	width:100%;
	height:120px;
}
.two_choice_side.on span.active
{
	background:rgba(1,162,137,0.4);
	position:absolute;
	top:0px; left:0px; right:0px; bottom:0px
}
.answer_block img
{
	width:100%;
	margin-bottom:2px;
}


