/******************** Calendar ********************/

/*************** Date Picker ***************/
#choose_date {
    margin-left: 20px;
}

/*************** Calendar Body ***************/
#bein_root .main_section_content {
    width: 100%;

    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}

/********** Month **********/
#current_month {
    background-color: #0A546F;

    padding-top: 10px;
    padding-bottom: 10px;
}
#current_month > h3 {
    color: white;
    text-align: center;

}

/********** Days **********/
#prev_week_arrow > h4, #next_week_arrow > h4 {
    color: white;
    background-color: darkgray;
    width: 20px;
    margin-top: 15px;
}

#bein_root .days_list {
    width: 100%;
}

#bein_root .head_options {
    background-color: #0286B7;
}

#bein_root .days_list a {
    color: white;
}

#bein_root .days_list a:hover {
    color: #404040;
}
#bein_root .days_list a.active
{
    background-color: #E7ECEF;
    color: #404040;
}

/********** Times **********/

/***** Timeline Slider *****/
#bein_root .time_line_slider_container .slick-slide {
    color: #404040;
}

.next_slide, .prev_slide {
    background-color: rgba(0, 174, 239, 0.3);
}

/***** Filter Zone *****/
#bein_root .head_filter .filter_zone {
    margin-right: 40px;
}

#bein_root .filter_zone .chosen-container-single .chosen-single
#bein_root .filter_zone .chosen-container .chosen-results li.active-result,
{
    color: #404040;
}

#bein_root .filter_zone .chosen-container .chosen-results li.highlighted,
#bein_root .time_line_slider_container .slick-slide.slick-center {
    background-color: #0286B7;
}

/***** Table Body *****/
#bein_root .prog_list > li .programmes_items .prog_item + .prog_item{
    max-height: 113px;
}

.calendarMachine{
    padding-top: 20px;
    color: white;
}

#bein_root .prog_list > li .channel_visu.red_bg {
    background-color: #0286B7;
}

#bein_root .prog_list > li .programmes_items .prog_item > a .prog_title{
    color: #0286B7;
}
#bein_root .prog_list > li .progs_wrapper .slide_next .arrows_symbole{
    background-color: #0286B7 ;
}

#bein_root .prog_list > li .progs_wrapper .slide_next{
    color: #0286B7;
    background-color: #D6EBF3;
    /*opacity: 0.4;*/
}

#bein_root .prog_item {
    width: 452px;
}

#bein_root .prog_items_cover {
    width: 11440px;
    margin-left: -7480px;
}

#bein_root .time_line_arrows{
    background-color: transparent ;
}