/******************** Header ********************/
.topnavbar .navbar-header {
    background-color: #00AEEF;
    background-image: none;
}

.nav-wrapper {
    background-color: #00AEEF;
}

.topnavbar .navbar-header .brand-logo {
    padding: 10px 28px;
}

@media (max-width: 768px) {
    .topnavbar .navbar-header .brand-logo {
        padding: 14px 28px;
        width: 185px;
        margin-left: -20px;
    }
}

/******************** Table ********************/
.panel .panel-heading {
    padding-left: 27px;
    font-size: 24px;
}

.add-button {
    float: right;
    margin-top: -4px;
    margin-right: 16px;
}

.table-responsive {
    padding-left: 20px;
    padding-right: 20px;
}

.panel-default {
    margin-top: 10px;
}

.icon_row {
    display: inline-block;
    margin-right: 15px;
}

.add-content, .edit-content, .view-content, .status-view-content, .log-content {
    display: none;
}

.content-header {
}

.content-body {
    padding: 25px;
    border: 1px solid #E4E2E2;
}

.content-body .wysiwyg {
    width: 93%;
}

/******************** Dropdown Menu ********************/


/******************** Form ********************/
.form_title {
    background-color: #E6F0F3;
    border-bottom: 1px solid #CFDBE2;
}

.edit_form {
    padding-left: 80px;
    padding-right: 80px;
}

.form-format {
    min-width: 300px;
}

/******************** Device Admin ********************/
.beacon_statistics {
    padding-left: 330px;
}

.beacon_statistics > button {
    font-size: 25px;

    width: 150px;
    height: 80px;
}

/******************** Device Management ********************/
.show_hide {
    color: blue;
}

#optional_attributes {
    display: none;
}

#delete_selected {
    color: blue;
}

/******************** Beacon Notification ********************/
#notification {
    margin-left: 15px;
    margin-bottom: 20px;
}

.notification_buttons {
    margin-left: 0px;
}

.notification_button {
    width: 150px;
    height: 80px;
    font-size: 20px;
}

/******************** Beacon Campaigns ********************/

/********** Tabs **********/
.tab-content > .active {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/******************** Account ********************/
.panel-body > form {
    padding-left: 10px;
    padding-right: 10px;
}

/******************** Rule Management Condition Button ********************/
.condition_button {
    margin-right: 36px;
}

/******************** Scheduled Commands Time ********************/
#schedule {
    border: 1px solid #e5e5e5;
    padding: 20px;
}

.time {
    display: inline-block;
}

#end_date_text {
    display: none;
    margin-left: 40px;
}

#time_lapse {
    display: none;
}

.parameter {
    display: inline-block;
}

.sub-form-group {
    border: 1px solid #e5e5e5;
    padding: 20px;
}

/******************** Surveys ********************/

/********** Modal Content **********/
.chosen {
    padding-right: 0px;
}

.hour {
    padding-right: 0px;
    margin-right: -15px;
}

.minutes {
    margin-right: -25px;
}

.ampm {
    margin-right: -30px;
}

/********** Checkbox **********/
.checkbox {
    word-spacing: 1px;
}

.form-inline .form-group{
    margin-bottom: 20px; !important;
}

.form-group{
    width :100%;
}
/******************** Organization Editor Image ********************/
#fileInput {
    position: absolute;
    clip: rect(0px 0px 0px 0px);
}

#bein_root .prog_list > li .programmes_items .prog_item + .prog_item{
    max-height: 113px;
}

.calendarMachine{
    padding-top: 20px;
    color: white;

}

#bein_root .prog_list > li .channel_visu.red_bg {
    background-color: #0286B7;
}

#bein_root .prog_list > li .programmes_items .prog_item > a .prog_title{
    color: #0286B7;
}
#bein_root .prog_list > li .progs_wrapper .slide_next .arrows_symbole{
    background-color: #0286B7 ;
}

#bein_root .prog_list > li .progs_wrapper .slide_next{
    color:  #0286B7;
}

#bein_root .time_line_arrows{
    background-color: transparent ;
}
